./stApp > header {
    background-color: transparent;
}

./stApp {
    background: linear-gradient(315deg, #4f2991 3%, #7dc4ff 38%, #36cfcc 68%, #a92ed3 98%);
}

./st-emotion-cache-10trblm{
    color: #000000;
}